# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [3]:
salaries = pd.read_csv('./Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

In [5]:
salaries.shape

(33702, 8)

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [9]:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
salaries['Salary or Hourly'].value_counts(dropna=False)

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [10]:
salaries.groupby(['Department']).agg({'Name': 'count'}).rename(columns={'Name':'number_of_employees'})

                     number_of_employees
Department
ADMIN HEARNG                          38
ANIMAL CONTRL                         75
AVIATION                            1856
BOARD OF ELECTION                    111
BOARD OF ETHICS                        8
BUDGET & MGMT                         44
BUILDINGS                            258
BUSINESS AFFAIRS                     167
CITY CLERK                            88
CITY COUNCIL                         362
COPA                                 123
CULTURAL AFFAIRS                      74
DAIS                                1033
DISABILITIES                          28
FAMILY & SUPPORT                     656
FINANCE                              544
FIRE                                4627
HEALTH                               467
HOUSING                               66
HOUSING & ECON DEV                   154
HUMAN RELATIONS                       17
HUMAN RESOURCES                       75
INSPECTOR GEN                         95
LAW                                  398
LICENSE APPL COMM                      1
MAYOR'S OFFICE                       104
OEMC                                1737
POLICE                             13848
POLICE BOARD                           2
PROCUREMENT                           84
PUBLIC LIBRARY                      1088
PUBLIC SAFETY ADMIN                  244
STREETS & SAN                       2175
TRANSPORTN                          1113
TREASURER                             28
WATER MGMNT                         1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [11]:
# H0: not different from $30/hr
# H1: different from $30/hr
# p-value: 0.05,  95% two sided confidence interval

salaries['Hourly Rate'].mean()

34.58644971862046

In [12]:
# since salary workers are 25528 in total and that equals to Nan values in Hourly rate column

hourly_workers= salaries[['Hourly Rate']]
hourly_workers.dropna(inplace=True)

/var/folders/rj/ty5_khc929v572g5r_tjk0sw0000gn/T/ipykernel_61766/4237364536.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hourly_workers.dropna(inplace=True)

In [13]:
hourly_workers.shape

(8174, 1)

In [56]:
# Build the hypothesis and test it 
# Two-sided test: (test for equality and inequality. there are two ways that Ho may be wrong. lower or higher)
# H0: mean hourly wage = $30
# H1: mean hourly wage != $30

from scipy.stats import ttest_1samp
import scipy.stats as st

st.ttest_1samp(hourly_workers,30)

Ttest_1sampResult(statistic=array([31.21150033]), pvalue=array([3.82547585e-202]))

In [ ]:
# p is low, null must go
# H0 is rejected so the mean for hourly wage is different from $30/hr
# We don't have to look for stat but since it's positive
# This indicates that the mean for hourly wage is higher than $30/hr

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [16]:
# Your code here:
police_salary=salaries[salaries['Department']=='POLICE']

In [21]:
display(police_salary.shape)
display(police_salary.head())
police_salary.isna().sum()

(13848, 8)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        13824
Annual Salary           24
Hourly Rate          13824
dtype: int64

In [27]:
police_salary = police_salary[police_salary['Annual Salary'].notna()]

In [35]:
police_salary.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        13824
Annual Salary            0
Hourly Rate          13824
dtype: int64

In [48]:
annual_police_sal = police_salary[['Annual Salary']]
annual_police_sal.mean()

Annual Salary    88834.118924
dtype: float64

In [57]:
# Build the hypothesis and test it
# One-sided test: (there is only one way Ho can be wrong in the one-sided test)
# H0: mean salary for police <= $86000/year
# H1: mean salary for police > $86000/year

from scipy.stats import ttest_1samp
import scipy.stats as st

st.ttest_1samp(annual_police_sal,86000.00)

Ttest_1sampResult(statistic=array([18.51748562]), pvalue=array([1.22391339e-75]))

In [ ]:
# p is low, null must go
# H0 is rejected so the mean salary for police is higher than $86000
# Stat is important in one-sided test and it's positive 
# This indicates that the mean salary for police is higher and H0 is rejected

Using the `crosstab` function, find the department that has the most hourly workers.

In [59]:
salaries_hourly=salaries[salaries['Salary or Hourly']=='Hourly']

display(pd.crosstab(salaries_hourly['Department'],salaries_hourly['Salary or Hourly']).sort_values(by=['Hourly'],ascending=False))

Salary or Hourly     Hourly
Department
STREETS & SAN          1846
WATER MGMNT            1558
AVIATION               1214
OEMC                   1077
DAIS                    745
TRANSPORTN              726
FAMILY & SUPPORT        357
PUBLIC LIBRARY          356
CITY COUNCIL             74
PUBLIC SAFETY ADMIN      48
LAW                      48
FINANCE                  45
POLICE                   24
MAYOR'S OFFICE           17
ANIMAL CONTRL            12
CULTURAL AFFAIRS         10
BUSINESS AFFAIRS          7
HOUSING & ECON DEV        3
HEALTH                    2
PROCUREMENT               2
BUDGET & MGMT             2
DISABILITIES              1

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [61]:
streets_san_salary=salaries[salaries['Department']=='STREETS & SAN']
streets_san_salary.isna().sum()

Name                    0
Job Titles              0
Department              0
Full or Part-Time       0
Salary or Hourly        0
Typical Hours         329
Annual Salary        1846
Hourly Rate           329
dtype: int64

In [63]:
streets_san_salary.dropna(subset=['Hourly Rate'], inplace=True)
streets_san_salary.isna().sum()

/var/folders/rj/ty5_khc929v572g5r_tjk0sw0000gn/T/ipykernel_61766/608696528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  streets_san_salary.dropna(subset=['Hourly Rate'], inplace=True)

Name                    0
Job Titles              0
Department              0
Full or Part-Time       0
Salary or Hourly        0
Typical Hours           0
Annual Salary        1846
Hourly Rate             0
dtype: int64

In [64]:
hourly_rate= streets_san_salary[['Hourly Rate']]

In [65]:
hourly_rate.mean()

Hourly Rate    35.552297
dtype: float64

In [66]:
# Build the hypothesis and test it 
# H0: mean hourly wage => $35
# H1: mean hourly wage < $35

from scipy.stats import ttest_1samp
import scipy.stats as st

st.ttest_1samp(hourly_rate,35)

Ttest_1sampResult(statistic=array([4.0001388]), pvalue=array([6.58047444e-05]))

In [ ]:
# p is low, null must go
# H0 is rejected so the mean hourly wage is lower than $35

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
import scipy.stats 

confidence_level = 0.95
degrees_freedom = len(hourly_rate) - 1
sample_mean = np.mean(hourly_rate)
sample_standard_error = scipy.stats.sem(hourly_rate) # sem = standard error of the mean = std(mean)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
import scipy.stats 

confidence_level = 0.95
degrees_freedom = len(annual_salary) - 1
sample_mean = np.mean(annual_salary)
sample_standard_error = scipy.stats.sem(annual_salary) # sem = standard error of the mean = std(mean)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print( 'confidence interval is ', confidence_interval, '.' )

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: